<%-include ('../partials/header.ejs')%>
<body>
    <%-include ('../partials/homeNav.ejs')%>
    <div class="container">
        <br>
        <div class="jumbotron">
            <h1 class="display-4">Bem Vindo(a)!</h1>
            <p class="lead">Um Blog para Programadores...</p>
            <hr class="my-4">
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Ler Mais</a>
            </p>
          </div>
        <% articles.forEach(article=>{%>
            <br>
            <div class="card">
                <div class="card-header">
                    <h2><%=article.title%></h2>
                </div>
                <div class="card-body">
                    <a href="/<%=article.slug%>" class="btn btn-primary">Ler artigo</a>
                </div>
            </div>
        <%})%>
    </div>
    <div class="row">
        <div class="col col-12"> 
            <a href="/articles/page/2" style="float:right ;">Next>>></a>  
        </div>
       

    </div>
</body>
<%- include('../partials/footer.ejs')%>     