<%-include ('../../../partials/header.ejs')%>
<body>
    <%-include ('../../../partials/navbar.ejs')%>
    <div class="container">
        <hr>
        <h2>Artigos</h2>
        <hr>
        <a class="btn btn-success" href="/admin/articles/new">Cadastrar Artigo</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <%articles.forEach(articles =>{%>
                    <tr>
                        <th><%=articles.id%></th>
                        <th><%=articles.title%></th>
                        <th><%=articles.slug %></th>
                        <th><%=articles.category.title%></th>
                        <td>
                            <a href="/admin/articles/edit/<%=articles.id%>" class="btn btn-warning" >Editar</a>
                            <form method="POST" action="/articles/delete" style="display:inline;" onsubmit="confirmDelete(event,this)">
                                <input type="hidden" name="id" value="<%=articles.id%>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% })%>
            </tbody>
        </table>
    </div>
</body>
<script>
    function confirmDelete(event, form){
        event.preventDefault();
        const descision = confirm("Deseja deletar?")
        if(descision){
            form.submit()
        }else{
            console.log("Não Deletado")
        }
    }
</script>
<%- include('../../../partials/footer.ejs')%>    
