<%- include('../partials/header.ejs')%>

<body>
    <%- include('../partials/navbar.ejs')%>

    <div class="container questions__container">
        <h1>Perguntas</h1>

        <a href="/toAsk" class="btn btn-primary">Fazer uma Pergunta</a>
        <hr>
        <% question.forEach(question => {%>
            <div class="card">
                <div class="card-body">
                    <h3><%=question.title%></h3>
                </div>
                <div class="card-footer">
                    <a href="/question/<%= question.id %>">
                        <button class="btn btn-primary">Responder</button>
                    </a>
                </div>
            </div>
        <%})%>

    </div>
</body>


 
<%- include('../partials/footer.ejs')%>     